@tailwind base;
@tailwind components;
@tailwind utilities;

*,
before,
after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
html {
  scroll-behavior: smooth;
}
body {
  font-size: 1.6rem;
  overflow-x: hidden;
  background-color: var(--clr-third-header-color);
}
p {
  /* font-family: "Source Serif Pro", serif; */
  font-weight: 100;
  margin-bottom: 2rem;
  /* color: var(--clr-secondary-header-color); */
  letter-spacing: normal;
  word-spacing: 0.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
  /* font-family: "Didot Italic", serif; */
  text-transform: capitalize;
  font-weight: lighter;
  /* color: var(--clr-primary-header-color); */
}

.site-wrapper {
  display: flex;
  flex-direction: column;
  height: 100dvh;
}
a {
  text-decoration: none;
}
.footer {
  margin-top: auto;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 3rem;
  border-radius: 0.5rem;
  z-index: 99;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem 1rem;
  border-radius: 0.8rem;
}

.link {
  color: white;
  background-color: black;
  padding: 0.7rem 1.7rem;
  border-radius: 0.7rem;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.frontDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  width: 100%;
  height: 100vh;
  background-image: url("/homepage/frontImg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.frontTitle {
  text-align: center;
  color: white;
  font-weight: 500;
}

.frontP {
  text-align: center;
  font-weight: 500;
  color: white;
}
.logo {
  font-size: 3rem;
  color: red;
}
.active {
  color: red;
}
.countDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 2rem;
  border-radius: 0.8rem;
}
.counNum {
  color: red;
  font-weight: 500;
}
.countDiv > p {
  font-weight: 400;
}

.aboutImg {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}
.gridImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.gridImg:first-child {
  grid-column: span 2;
}
.gridImg:nth-child(2) {
  grid-column-start: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}
.gridImg:nth-child(3) {
  grid-row: span 2;
}
.gridImg:nth-child(4) {
  grid-row: span 2;
}
.aboutArticle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0.5rem 0.5rem 3rem inset red;
  padding: 1.2rem;
  z-index: 2;
  background-color: white;
}
.aboutArticle > h2 {
  text-align: center;
  margin: 2rem 5rem;
}
.pricingPlan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 2rem 0;
}
.pricingDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: white;
  border-radius: 0.8rem;
}
@media screen and (min-width: 336px) {
  h2 {
    font-size: 2.4rem;
  }
  h3 {
    font-size: 2rem;
  }
  p {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  a {
    font-size: 1.8rem;
  }

  .nav {
    flex-wrap: wrap;
  }

  .links {
    display: none;
    overflow: hidden;
    order: 1;
    width: 100%;
    gap: 2rem;
    margin-top: 1rem;
    background-color: white;
    box-shadow: 0.2rem 0.2rem 0.7rem rgb(228, 0, 0);
  }
  .show-nav {
    display: flex;
    flex-direction: column;
  }
  .countsDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 7rem 0;
    gap: 5rem;
    background-color: rgb(39, 46, 48);
  }
  .counNum {
    font-size: 4rem;
  }
  .featured1 {
    text-align: center;

    background: linear-gradient(to right, red, white);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2rem;
    z-index: 2;
    font-weight: bold;
  }

  .aboutDiv {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    gap: 1.5rem;
  }
  .unitDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 5rem;
    gap: 3rem;
  }
  .pricingDiv {
    max-width: 100%;
    min-height: 30rem;
  }
  /* .frontInsta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    padding: 1rem;
  } */
}
@media screen and (min-width: 786px) {
  p {
    font-size: 1.8rem;
    line-height: 1.6;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 2rem;
  }
  a {
    font-size: 1rem;
  }

  .ham {
    display: none;
  }

  .links {
    order: unset;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 1rem 7rem;
    margin-top: 0rem;
  }
  .frontTitle {
    font-size: 4rem;
  }
  .frontP {
    font-size: 2rem;
  }
  .counNum {
    font-size: 4.4rem;
  }
  .countsDiv {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .featured1 {
    font-size: 5rem;
  }

  .aboutDiv {
    position: relative;
    margin: 5rem 1rem;

    padding: 2rem 8rem;
    min-height: 100rem;
  }
  .aboutImg {
    height: 50rem;
    width: 40%;
    background-color: red;
  }
  .aboutArticle {
    position: absolute;
    left: 35%;
    top: 35%;
    min-height: 55rem;
    width: 55%;
    padding: 1.2rem;
    height: 55rem;
  }
  .unitDiv {
    flex-direction: row;
    gap: 1rem;
    padding: 3rem 1rem;
  }
  .pricingDiv {
    min-height: 35rem;
  }
}
@media screen and (min-width: 992px) {
  h2 {
    font-size: 3.5rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 2.2rem;
    line-height: 1.6;
  }
  a {
    font-size: 1.2rem;
  }
  .frontTitle {
    font-size: 7rem;
  }
  .frontP {
    font-size: 4rem;
  }
  .counNum {
    font-size: 4.7rem;
  }
  .featured1 {
    font-size: 6rem;
  }
  .aboutArticle {
    top: 40%;
  }
  .pricingDiv {
    min-height: 40rem;
  }
  .unitDiv {
    flex-direction: row;
    gap: 3rem;
    padding: 3rem 5rem;
  }
}
@media screen and (min-width: 1200px) {
  h2 {
    font-size: 3.7rem;
    line-height: 1.5;
  }
  h3 {
    font-size: 2rem;
  }
  .footerlink {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  .footerReserved {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  p {
    font-size: clamp(2.4rem, 1.5vw, 4rem);
    line-height: 1.6;
  }
  a {
    font-size: 1.5rem;
    line-height: 1.6;
  }
  .footericon {
    font-size: 2.8rem;
  }
  .counNum {
    font-size: 5.4rem;
  }
}
